/*header*/
.bg-green{
	background-color: #04b45f;
}
nav.navbar{
	background-color: transparent;
	border: transparent;
	z-index: 100;
}
li a, div a{
	color: white !important;
}
/*section intro*/
.bg-meseta{
	background-image: url("../img/carousel-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 102.7%;
}
.jumbotron{
	background-color: transparent;
}
.white{ 
	color: white; 
}
.font-280{
	font-size: 280%;
}
/*section color palette*/
.black{
	color: black;
	font-size: 280%;
	margin-top: 5%;
}
.linea{
	width: 20%;
	border: 1px solid black;
	margin-bottom: 5%;
}
.colors{
	margin: 0% 0%;
	width: 120%;
	height: 150px;
	margin-bottom: 5%;
}
.num-color{
	color: black;
}
.color1{
	background-color: #69d2e7;
}
.color2{
	background-color: #a7dbdb;
}
.color3{
	background-color: #e0e4cc;
}
.color4{
	background-color: #f38830;
}
.color5{
	background-color: #fa6900;
}
.color6{
	background-color: #e94c6f;
}
.color7{
	background-color: #542733;
}
.color8{
	background-color: #5a6a62;
}
.color9{
	background-color: #c6d5cd;
}
.color10{
	background-color: #fdf200;
}
.color11{
	background-color: #db3340;
}
.color12{
	background-color: #e8b71a;
}
.color13{
	background-color: #f7eac8;
}
.color14{
	background-color: #1fda9a;
}
.color15{
	background-color: #28abe3;
}
.color16{
	background-color: #588c73;
}
.color17{
	background-color: #f2e394;
}
.color18{
	background-color: #f2ae72;
}
.color19{
	background-color: #d96459;
}
.color20{
	background-color: #5c4646;
}
.color21{
	background-color: #d0c91f;
}
.color22{
	background-color: #85c4b9;
}
.color23{
	background-color: #008bba;
}
.color24{
	background-color: #df514c;
}
.color25{
	background-color: #dc403b;
}
.lateral{
	width: 70%;
	height: 150px;
}
.mrg-left-42{
	margin-left: 42%;
}
.mrg-right-40{
	margin-right: 40%;
}
/*section about us*/
.bg-azul{
	background-color: #0b3861;
}
.mrg-top{
	margin-top: 10%;
}
.linea2{
	width: 20%;
	border: 1px solid white;
	margin-bottom: 5%;
}
/*.linea-gris{
	background-color: lightgray;
	height: 2%;
	width: 80%;
	margin-top: 15%;
}*/
.linea-naranja{
	border: 10px solid orange;
	width: 90%;
	background-color: lightgray;
}
/*section what we do*/
.text-wwd{
	margin-top: -4%;
}
.bg-img{
	background-image: url("../img/icon-bg.png");
}
.hire-btn{
	background-color: black;
	padding: 1% 2%;
	border: none;
	font-size: 150%;
	margin: 8% 0%;
}
/*section team*/
.team{
	margin-bottom: 8%;
}
.ceo{
	color: black;
}
.punteada{
	border: dashed white 0.5px;
	width: 80%;
}
.icon{
	margin: 10% 3% 50% 3%;
	padding: 2%;
}
/*section best price*/
.borde-verde{
	border: solid 1px #04b45f;
	margin-bottom: 100%;
}
.mrg-5{
	margin: 0% 5%;
}
.bg-naranja{
	background-color: orange;
}
.bg-white{
	background-color: white;
}
.sign-btn{
	background-color: black;
	padding: 1% 5%;
	border: none;
	font-size: 150%;
	margin: 20% 0%;
}
.borde-naranja{
	border: solid 1px orange;
	margin-bottom: 50%;
	margin-top: -25%;
}
/*section cliets*/
.text-orange{
	color: orange;
}
.mrg-top2{
	margin-top: 2%;
}
.mrg-bottom10{
	margin-bottom: 10%;
}
/*section contact*/
.block{
	display: block;
}
.bg-trigo{
	background-image: url("../img/img-divider-img.jpg");
}